.item{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
}

.item-inner{
    display: flex;
    align-items: center;
}

.item-inner input{
    margin: 0 10px 0 0;
}

.item-inner label{
    line-height: 1;
}

.item-inner input:checked{
    opacity: .5;
}

.item-inner input:checked + label{
    text-decoration: line-through;
    opacity: .5;
}

.item-qty{
    margin-left: 10px;
    color: #fb5209;
}
